.grid,
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 650px;
  margin: 20px auto;
}

.grid {
  flex-wrap: wrap;
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.record {
  position: absolute;
  bottom: -100px;
  opacity: 0;
  align-self: center;
  transition: all 0.25s;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
  padding: 40px;
  margin: 0 27%;
}

.record.active {
  bottom: inherit;
  opacity: 1;
}
